/* font */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&family=Edu+TAS+Beginner:wght@700&family=Poppins:wght@500;700&family=Rubik+Moonrocks&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&family=Edu+TAS+Beginner:wght@700&family=Inter&family=Poppins:wght@500;700&family=Rubik+Moonrocks&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&family=Edu+TAS+Beginner:wght@700&family=Inter&family=Poppins:wght@500;700&family=Roboto:wght@700&family=Rubik+Moonrocks&display=swap');

/* header navbar section */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-left: 494px;
}

nav>div li {
    margin-left: 34px;
    font-weight: 700;
}

.fa-magnifying-glass {
    width: 19px;
}

.fa-cart-shopping {
    width: 36px;
}

/* section start */
.influencer {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;

}

.head {
    display: flex;
    flex-direction: column;
    width: 582px;
    height: 270px;
    border: 1px solid lightgray;
}

span {
    font-size: 52px;
    margin-top: 0%;
    bottom: 0%;
}

.Preebook button {
    display: inline-block;
    text-align: center;
    padding: 8px 24px;
    background: #E02C6D;
    border-radius: 41px;
    color: #FFFFFF;
    border: none;
}

.fa-arrow-right-long {
    width: 24px;
    height: 24px;
}

.main-camera {
    /* border: 1px solid rgb(226, 2, 2); */
    margin-top: 50px;
    margin-left: 131px;
    background-image: url(images/circle.svg);
    width: 475px;
    height: 475px;
    /* opacity: 100%; */
    border: 3px inner-border brand/purple 100 rgba(241, 228, 255, 1);

}

.main-camera img {
    width: 440px;
    height: 414px;
    margin: 30px 33px 31px 2px;
    /* border: 1px solid lightgreen; */
}

/* logo section */

.brand-logo {
    border: 1px solid lightgrey;
    margin-top: 69px;
    margin-right: 3%;
    margin-left: 5%;
    width: 1110px;
    height: 110px;
    /* padding-right: 10px; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.logo {
    display: flex;
    align-content: center;
    justify-content: center;
    /* border: 1px solid lightgrey; */
    border: none;
    padding-top: 40px;
    /* padding-left: 10px; */
    /* margin-top: 36px, 61.53px, 34.39px, 62px; */
    margin-left: 10%;
    margin-right: 7%;
    /* border-left: none;
    border-right: none; */
}

.logo img {
    /* padding-top: 40px; */
    padding-right: 10px;
    margin-left: 60.42px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* collection section */

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.container-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}

.info {
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.banner img {
    margin-top: 17px;
    margin-left: 14px;
    margin-right: 15px;
    /* margin-bottom: 16px; */

}

.side-margin {
    margin-left: 14px;
}

.head-line {
    font-size: 28px;
}

.amount {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
}

.stars {
    display: flex;
}

.fa-star {
    width: 16px;
    height: 1px;
    left: 14px;

}

.fa-star.filled {
    color: #FB8200;
}

.fa-star-half-stroke {
    color: #FB8200;
}

.ratings {
    font-family: 'Roboto';
    font-size: 14px;
    color: #5E6366;
    margin-left: 8px;
}

.additional-text {
    height: 61px;
    font-weight: 700;
    font-family: 'Inter';
    font-size: 14px;
    letter-spacing: 0.018em;
    color: #787885;
}

.frame a {
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);

}

.frame {
    width: 99px;
    font-size: 16px;
}

.fa-arrow-right-long {
    width: 16px;
    height: 14px;
}